@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}



body {
    margin: 0;
    padding: 0;
}

/* SideBar */

.sidebar {
    background-color:  #003380;
    margin: 0;
    padding: 0;
    width: 290px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
}


.budy {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 50%;
    margin-left: 25%;
    margin-top: 18%;
}


.bar {
    margin-top: 30%;
}



.dash, .active {
    display: flex;
    margin-left: 16%;
    margin-top: 2%;
    text-align: left;
    font-size: 14px;
    padding: 13px 10px;
    
}

.active {
    background-color: #0044AA;
}


.dash a, .active a {
    text-decoration: none;
    color: #fff;
    margin-top: 4px;
    margin-left: 10px;
}

.dash i {
    color: #fff;
}

.dash:hover, .uber:hover {
    background-color: #0044AA;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  color: #fff;
}

a {
    text-decoration: none;
}


.uber {
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-top: 18%;
    padding: 0.5rem 0.6rem;
}

.ub  {
   margin-top: 0.8rem;
}

.ub i {
    position: absolute;
    margin-left: 16px;
    margin-top: 15px;
    z-index: 90;
    color: #04802E;
    font-size: 6px;
    border: 1px solid #fff;
    border-radius: 50px;
}

.txt-area {
    display: block;
    margin-left: 15px;
    color: #fff;
    font-size: 0.8rem;
}


.txt-area h4 {
    margin-top: 0.2rem;
    color: #fff;
}



.txt-area p {
    margin-top: 0.8rem;
    color: #ffffff98;
}

.ic {
    margin-top: 1rem;
    margin-left: 20%;
}


.ic  {
    color: #fff;
}


/* Mid Content*/

.top {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

.btt button{
    color: #EA6813;
    background-color: #fff;
    border: 2px solid #EA6813;
    border-radius: 0.3rem;
    padding: 8px 10px;
    margin-top: 10%;
    font-size: 1rem;
    text-decoration: none;
}

.btt button:hover {
    color: #fff;
    background-color: #EA6813;
    border: 2px solid #ED813A;
}

.bud span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 1rem;
}

.bud a {
    color: #000;
}

.bud a:hover {
    color: #666;
}

.right {
  margin-left: 295px; 
  font-size: 1.6rem; 
  padding: 20px 10px;
  font-weight: 400;
}


.grey {
    background-color: #F7F7F7;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding: 0.8rem;
    margin-top: 5rem;
}

.rix {
    margin-left: 0.2rem;
    font-weight: 500;
    color: #666666;
}


.rix i {
    color: #D42620;
}

.rite {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 2rem;
}

.st {
    display: flex;
    justify-content: left;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.7rem;
}

.st form {
    margin: 0.5rem;
    margin-left: 0.5rem;
}



::placeholder {
   align-items: left;
}

input {
    padding: 0.5rem;
    width: 20rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


  input[type=text]:focus {
    border: 3px solid #7e7e7e;
  }

  #day {
    padding: 0.4rem;
    color: #7e7e7e;
  }

  select {
    padding: 0.45rem;
    width: 20rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  select[type=text]:focus {
    border: 3px solid #7e7e7e;
  }

  .rit {
    display: flex;
    justify-content: left;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 2rem;
}

.rit form {
    margin: 0.5rem;
}

.gen {
    color: #EA6813;
    margin-left: 0.5rem;
}

#show {
    margin-top: 2rem;
    
}



  textarea {
    width: 62rem;
    height: 6rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    border-radius: 0.2rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  textarea[type=text]:focus {
    border: 3px solid #7e7e7e;
  }


  label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    margin-bottom: 5px; 
    display: block; 
  }








  /* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .sidebar {
      display: none;
    }
  
    .right {
      margin-left: 0;
      width: 100%;
    }
  
    .top {
      flex-direction: column;
      align-items: center;
    }
  
    .btt-n {
      margin-top: 20px;
    }
  
    .grey {
      margin-top: 20px;
      padding: 20px;
    }
  
    .rix {
      margin-bottom: 10px;
    }
  
    .rit {
      margin-bottom: 20px;
    }
  
    input[type="text"],
    input[type="number"],
    input[type="date"],
    textarea {
      width: 100%;
    }
  }
  
  /* Media query for screens smaller than 480px */
  @media screen and (max-width: 480px) {
    .grey {
      padding: 10px;
    }
  
    .rix,
    .rit {
      margin-bottom: 10px;
    }
  }
  

  .dark-theme {
    background-color: #222;
    color: #fff;
  } 

  .dark-theme .bud i {
    color: #ffffff;
  }

  .dark-theme .right i:hover {
    color: #8b8888;
  }

  .dark-theme .grey {
    background-color: #000;
  }

  .dark-theme .rix,  .dark-theme label{
    color: #fff;
  }

  .dark-theme .rix i {
    color: #D42620;
  }



  
.togg {
  position: fixed;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.1rem  1rem;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 0 #000;
  bottom: 28rem;
  left: 1rem;
}